<div class="col-xs col-xs-offset-1 about">
	<h1>About Splurty</h1>

	<p> 
		This Splurty was build by <a target="_blank" href= "https://github.com/sebtn">Seb</a> following the advise of the awesome firehose porject.
		He just started to complete the firehose bootcamp to get up to date with the technical skills which will allow him to participate in different exciting future IT projects..


	</p>	
	<br />
	<br />
	<p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
	</p>
	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'Seb.jpg', :class => 'img-responsive' %>
	</div>

	<div classs="col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center">Seb</h2>
	<br />

	<p>
		Seb is an aspiring web and app developer with experience trading derivatives and price modeling analysis. Recently moved to Canada to engage the IT sector because he wants to develop and build something useful. He doesn't like to talk about himself and prefers direct interaction.

	</p>
	</div>
	<br class="clear" />

</div>

<br class="clear" />
<br />
<br />
<br />
<br />